<h1>Profile</h1>
<ul>
  <li>goal_type : <%= @goal.goal_type %></li>
  <li>target_weight : <%= @goal.target_weight %></li>
  <li>daily_calorie_target : <%= @goal.daily_calorie_target %></li>
  <li>protein_target : <%= @goal.protein_target %></li>
  <li>carbs_target : <%= @goal.carbs_target %></li>
  <li>fat_target : <%= @goal.fat_target %></li>
  <li>start_date : <%= @goal.start_date %></li>
  <li>end_date : <%= @goal.end_date %></li>
  <li>target_water : <%= @goal.target_water %></li>
</ul>
