<h1><%= @meal.meal_type %> <%= @meal.eaten_at.strftime("%H:%M") %></h1>

<h2>Foods in this Meal</h2>
<ul>
  <% @meal.foods.each do |food| %>
    <li>
      <%= food.food_name %> -
      <%= food.serving_size %> <%= food.serving_unit %>
    </li>
  <% end %>
</ul>

<div class="a-meal"><%= link_to "Add a food", new_daily_log_meal_food_path(@daily_log, @meal) %></div>

<div class="a-meal"><%= link_to "Return to homepage", daily_log_path(@daily_log) %></div>
