<p>Goal type : <%= @goal.goal_type %></p>
<p>Target weight : <%= @goal.target_weight %></p>
<p>Daily calorie target : <%= @goal.daily_calorie_target %></p>
<p>Protein target : <%= @goal.protein_target %></p>
<p>Carbs target : <%= @goal.carbs_target %></p>
<p>Fat target : <%= @goal.fat_target %></p>
<p>Water target : <%= @goal.target_water %></p>
